<form>
    <mat-card class="div mat-elevation-z4">
    <h1>Editar Categoria</h1>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="categoria.descricao"  type="text" name="descricao" >
    </mat-form-field>

    <div class="buttons">
        <button class="btn" (click)="update()" mat-raised-button color="warn">
            ATUALIZAR
        </button>
        <button class="btn-cancel" (click)="cancel()" mat-raised-button color="warn">
            CANCELAR
        </button>
    </div>
</mat-card>
</form>
 