.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin: 3rem;
}

.title h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

table {
    width: 100%;
    background-color: whitesmoke;
}

th{
    font-size: large;
    color: #212529;
    font-weight: 500;
}

td{
 font-size: medium;
 font-weight: 500;
}

.edit{
    color: #495057;
    margin-right: 1rem;
}


.edit:hover{
    color: #212529;
    margin-right: 1rem;
}

.delete{
    color: #E5385E;
}

.delete:hover{
    color: #6d1a2c;
}

.mat-header{
    width: 5rem;
}


.btn-back {
    background-color:#212529;
    color: white;
    margin: 1rem;
   
}

.btn{
    background-color:#212529;
    color: white;
    margin-left: 92%;

}

.btn:hover {
    background-color: whitesmoke;
    color:#495057;
}

.div{
    width: 100%;
    flex-wrap: nowrap;
}

