.title {
  text-align: center;
  margin: 3rem;
}

.title h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

table {
  padding: 1rem;
  width: 100%;
  background-color: whitesmoke;
}
.mat-header {
  width: 5rem;
  text-align: center;
}

th {
  font-size: large;
  color: #212529;
  font-weight: 500;
  
}

td {
  font-size: medium;
  font-weight: 500;
  
}

.edit {
  color: #495057;
  
}

.edit:hover {
  color: #212529;
}

.delete {
  color: #e5385e;
}

.delete:hover {
  color: #6d1a2c;
}

.livros {
  margin-left: 2rem;
  color: #495057;
}

.livros:hover {
  margin-left: 2rem;
  color: #212529;
}

.add-button {
  display: flex;
  justify-content: right;
  padding: 1rem;
}

.btn {
  background-color: #212529;
  color: white;
}

.btn:hover {
  background-color: whitesmoke;
  color: #495057;
}

@media (max-width: 450px) {
  .content {
    width: 80%;
  }
  .mat-header {
    width: 5rem;
    text-align: center;
  }
  .livros {
    color: #495057;
  }
  .livros:hover {
    color: #212529;
  }
  th {
    font-size: small;
    color: #212529;
    font-weight: 600;
    text-align: center;
  }
  td {
    font-size: small;
    font-weight: 500;
    text-align: center;
    align-items: center;
  }
}
